<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, viewport-fit=cover">
    <title><%= title %></title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel='stylesheet' href='/stylesheets/vui.css' />
    <script type="text/javascript">
      var address = location.host;
    </script>
  </head>
  <body>
    <%- include('./header',{'path':'settings'}) %>
    <div class="vui main">
      <h3 class="ui top attached header">
        Wi-Fi接続設定
      </h3>
      <div class="ui attached segment">
        <p style="line-height:2em;">
          IPアドレスを固定化するための設定を行います
        </p>
        <form class="ui form" action="http://<%= host %>/api/v1/wifi" method="post">
          <div class="field">
            <label>SSID</label>
            <select name="ssid" placeholder="SSID">
              <% ssids.forEach(function(ssid){ %>
                <% if(ssid.ssid !== ""){ %>
                <option><%= ssid.ssid %></option>
                <% } %>
              <% }) %>
            </select>
          </div>
          <div class="field">
            <label>パスワード</label>
            <input type="password" name="passwd" placeholder="パスワード">
          </div>
          <center>
            <button type="submit" class="ui button red">Wi-Fiに接続する</button>
          </center>
        </form>
      </div>
      <h3 class="ui top attached header">
        IPアドレス設定
      </h3>
      <div class="ui attached segment">
        <p style="line-height:2em;">
          IPアドレスを固定化するための設定を行います
        </p>
      </div>
    </div>
    <%- include('./footer') %>
    <script type="text/javascript">
    function show_T() {
      $.getJSON("http://<%= host %>/api/v1/temperature",function(temperature){
        document.getElementById("cpu_t").innerHTML = temperature.cpu;
        document.getElementById("gpu_t").innerHTML = temperature.gpu;
      })
    }
    setInterval('show_T()',1000);
    </script>
  </body>
</html>
